<h1 class="display-4">Keyboard</h1>

<form>
    <div class="form-group">
        <label for="model-name">Model name</label>
        <input type="text" class="form-control" id="model-name" placeholder="Keyboard model name">
    </div>
    <div class="form-group">
        <label for="model-number">Model number</label>
        <input type="text" class="form-control" id="model-number" placeholder="Keyboard model number">
    </div>
    <div class="form-group">
        <label for="layout">Layout</label>
        <input type="text" class="form-control" id="layout" placeholder="Keyboard layout">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>