<h1 class="display-4">Monitor</h1>

<form>
    <div class="form-group">
        <label for="model-name">Model name</label>
        <input type="text" class="form-control" id="model-name" name="" placeholder="Monitor model name">
    </div>
    <div class="form-group">
        <label for="model-number">Model number</label>
        <input type="text" class="form-control" id="model-number" placeholder="Monitor model number">
    </div>
    <div class="form-group">
        <label for="inches">Screen size</label>
        <input type="text" class="form-control" id="inches" placeholder="Screen size (inches)">
    </div>
    <div class="form-group">
        <label for="resolution">Resolution</label>
        <input type="text" class="form-control" id="resolution" placeholder="Resolution">
    </div>
    

    <button type="submit" class="btn btn-primary">Save</button>
</form>