<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ title }}</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <div class="container m-3">
            <div class="row justify-content-start">
                <div class="col-md-auto">
                    <div class="row p-1">
                        <video class="d-block border border-primary" id="video" autoplay="true"></video>
                    </div>
                    <div class="row p-1">
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="btnPredict">Predict</button>
                    </div>
                </div>

                <div class="col-md-auto" id="register-panel">
                    
                </div>
            </div>
            
            
            <div>
                <canvas id="c1" width="160" height="96">

                </canvas>
            </div>
        </div>

    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        is_device_available = false;

        document.addEventListener("DOMContentLoaded", function(){
            if(navigator.mediaDevices.getUserMedia){
                navigator.mediaDevices.getUserMedia({video:true})
                .then(function(stream){
                    video.srcObject = stream;
                    is_device_available = true;
                    
                }).catch(function(error){
                    console.log(error);
                })
            }
        });

        $("#btnPredict").on("click", function(e){
        
            console.log("Is device available: " + is_device_available);
            
            if(is_device_available == true){
                var canvas = document.createElement("canvas");
                canvas.getContext("2d").drawImage(video, 0, 0, canvas.width, canvas.height);

                data_url = canvas.toDataURL("image/png");
                data = JSON.stringify(data_url.replace(/^data:image\/(png|jpg);base64,/, ""));
                
                request = new XMLHttpRequest();
                request.addEventListener('readystatechange', (e)=>{
                    if(e.target.readyState == 4 && e.target.status == 200){
                        window.location = "/main";
                    }
                })
                request.open("POST", "http://127.0.0.1:5000/detect", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.send(data);

                request.onload = function(){
                    console.log(request.responseText);

                    $("#register-panel").html(request.responseText);
                };
                    
                
            }
        })
    </script>
</html>