<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ title }}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>

    <body>
        <div class="container m-3">
            <div class="row justify-content-start">
                <div class="col-md-auto">
                    <div class="row p-1">
                        <video class="d-block border border-primary" id="video" autoplay="true"></video>
                    </div>
                    <div class="row p-1">
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="btnDetect">Detect</button>
                        
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="no-detection-alert">
                        No object detected!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                </div>

                <div class="col-md-auto" id="module-panel">
                    <!-- Contains the form template for the detected object -->
                </div>
            </div>
            
            
            <div>
                <canvas id="c1" width="160" height="96">

                </canvas>
            </div>
        </div>

    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    <script>
        is_device_available = false;

        document.addEventListener("DOMContentLoaded", function(){
            if(navigator.mediaDevices.getUserMedia){
                navigator.mediaDevices.getUserMedia({video:true})
                .then(function(stream){
                    video.srcObject = stream;
                    is_device_available = true;
                    
                }).catch(function(error){
                    console.log(error);
                })
            }
        });

        $(document).ready(function(){
            // Hide the alert messages
            $("#no-detection-alert").hide();

            // Create socket connection
            var socket = io.connect("http://" + document.domain + ":" + location.port);

            // Connection stablished
            socket.on("connect", function(){
                console.log("Connection stablished with the server.");
                console.log("Connection ID: " + socket.id);
            });
        })

        // Manage de Detect action
        $("#btnDetect").on("click", function(e){
            // Disable predict button and change the class
            $("#btnDetect").attr("disabled", true)
                .removeClass("btn btn-primary")
                .addClass("progress-bar progress-bar-striped progress-bar-animated bg-info")
                .html("Detecting...");
        
            console.log("Is device available: " + is_device_available);
            
            if(is_device_available == true){
                // Grab the image from video
                var canvas = document.createElement("canvas");
                canvas.getContext("2d").drawImage(video, 0, 0, canvas.width, canvas.height);

                data_url = canvas.toDataURL("image/png");
                data = JSON.stringify(data_url.replace(/^data:image\/(png|jpg);base64,/, ""));
                
                // Create the POST request and send the image to the server
                request = new XMLHttpRequest();
                request.addEventListener('readystatechange', (e)=>{
                    if(e.target.readyState == 4 && e.target.status == 200){
                        window.location = "/main";
                    }
                })
                request.open("POST", "http://127.0.0.1:5000/detect", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.send(data);

                // Check the response from the server
                request.onload = function(){
                    // If no object detected, show an alert
                    if(request.responseText === ""){
                        $("#no-detection-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#no-detection-alert").slideUp(500);
                        });
                    }

                    // Show the module panel
                    $("#module-panel").html(request.responseText);

                    // Change back to the original button class
                    $("#btnDetect").attr("disabled", false)
                        .removeClass("progress-bar progress-bar-striped progress-bar-animated bg-info")
                        .addClass("btn btn-primary")
                        .html("Detect");
                };
                    
                
            }
        })
    
        
    </script>
</html>